<a href="https://colab.research.google.com/github/frankodzia/ai-course-gp/blob/main/lekcja_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import numpy as np

In [3]:
df = sns.load_dataset('titanic')
print(df.head(10))

   survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0         0       3    male  22.0      1      0   7.2500        S   Third
1         1       1  female  38.0      1      0  71.2833        C   First
2         1       3  female  26.0      0      0   7.9250        S   Third
3         1       1  female  35.0      1      0  53.1000        S   First
4         0       3    male  35.0      0      0   8.0500        S   Third
5         0       3    male   NaN      0      0   8.4583        Q   Third
6         0       1    male  54.0      0      0  51.8625        S   First
7         0       3    male   2.0      3      1  21.0750        S   Third
8         1       3  female  27.0      0      2  11.1333        S   Third
9         1       2  female  14.0      1      0  30.0708        C  Second

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
5    man        True  NaN   Queenstown    no   True
6    man        True    E  Southampton    no   True
7  child       False  NaN  Southampton    no  False
8  woman       False  NaN  Southampton   yes  False
9  child       False  NaN    Cherbourg   yes  False

In [7]:
print("Before cleaning", len(df))
print(df.isnull().sum())

Before cleaning 891
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [12]:
df = df.dropna(subset=['age'])
print("After cleaning", len(df))
print(df.isnull().sum())

After cleaning 714
survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           530
embark_town      2
alive            0
alone            0
dtype: int64

In [18]:
def categorize_fare(fare, fare_ranges):
  if fare <= fare_ranges[0]:
    return 0
  elif fare <= fare_ranges[1]:
    return 1
  else:
    return 2

min_fare = df['fare'].min()
max_fare = df['fare'].max()
print(min_fare)
print(max_fare)

fare_step = (max_fare - min_fare) / 3

fare_ranges = [min_fare + fare_step, min_fare + 2 * fare_step]
print(fare_ranges)
#print("\nPrzedziały cenowe biletów:")
#print(f"Niska: {min_fare:.2f} - {fare_ranges[0]:.2f}")
#print(f"Średnia: {fare_ranges[0]:.2f} - {fare_ranges[1]:.2f}")
#print(f"Wysoka: {fare_ranges[1]:.2f} - {max_fare:.2f}")

0.0
512.3292
[170.7764, 341.5528]

Przedziały cenowe biletów:
Niska: 0.00 - 170.78
Średnia: 170.78 - 341.55
Wysoka: 341.55 - 512.33

In [21]:
selected_features = ['sex','pclass','age','fare_category']

df_model = df.copy()
df_model['sex'] = df_model['sex'].map({'male': 0,'female': 1})
df_model['fare_category'] = df_model['fare'].apply(lambda x: categorize_fare(x, fare_ranges))

In [24]:
X = df_model[selected_features]
Y = df_model['survived']
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=50)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)